# Virtual environments
venv/
.venv/
env/
ENV/

# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / build
build/
dist/
*.egg-info/
.eggs/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Environment variables
.env

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# macOS
.DS_Store

# pipenv
Pipfile.lock